/* Add your custom CSS styling here */
form {
    max-width: 400px;
    margin: auto;
  }
  
  form div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="date"],
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  